/**
 * Overrides to reset.css
 */

html, button, input, select, textarea {
  color: #000000;
}

::-moz-selection { background: #39f; }
::selection { background: #39f; }

/*****************************************************************************/

html, body {
  font-family: Arial, sans-serif;
}

html, body, canvas {
  padding: 0;
  margin: 0;
}
body {
  margin-top:160px;
}

body div#main {
}

body div#content {
  background-color:#FFFFFF;
  width:1280px;
  margin: auto;
  padding: 0px;
  z-index:100;
}

canvas {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  background-color: #FFFFFF;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  user-select: none;
}


#d3_area1{ 
  width: 800px; 
  height:600px; 
  border:solid 1px black; 
  padding:0px;
  margin:0px;
  position: relative right 10;
  margin-left: 400px;
  margin-top:0px;

}

#d3_area1 svg text{ 
  text-align:left;
  color:black;
}

#slider-max_branch{ padding-left:15px;}

#buttons2 div.control input {float:right; width: 35px;}
#buttons2 div.control label { width: 180px; display:inline-block;}
#buttons2 div.control div.slider-holder { padding-left:15px; width:125px; display:inline-block;}
#buttons2 {width:340px; float:left; display:inline;}
#buttons2 div.control { width:390px; margin-bottom:18px; margin-top:18px; }


div#top-bar {width: 100%; height:140px; position:fixed; top:0; left:0; padding:5px; border:solid 1px black;opacity:100%;z-index:101; background-color:white; float:left;  margin:auto; text-align:center;}

table#codez td.sel{ background-color:#efd9db;}
table#codez td { background-color:#ffffff;}
div#codez div span{ width: 33px;height:33px; display:inline-block; text-align:center;vertical-align:middle; margin:1px;padding:1px; }
div#codez div span.c:hover{ width: 33px; display:inline-block; background-color:#efd9db;    }

div#top-bar div.single-char{display:inline-block;}

div.single-char{height:135px;width:15%;}
div.single-char div.ch{font-size:5em;}
div.single-char div.exp{font-size:0.8em;}